body {
  background: #fff 0 0 no-repeat padding-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  outline: 0;
  padding: 0;
}

.first-row-container {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  justify-content: space-around;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.first-row-container2 {
  display: flex;
  flex-direction: row;
}
.first-row-container3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.firstrow-donwload {
  font-weight: bolder;
  margin-left: 1rem;
  text-decoration: underline;
}
.firstrow-donwload:hover {
  cursor: pointer;
}
.header-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem;
  margin-left: 23rem;
}
.mainpage-logo {
  width: 135px;
}

.cinsiyet {
  margin-left: 3rem;
  font-size: 25px;
}
.cinsiyet:hover {
  color: #f60;
  font-weight: bold;
  cursor: pointer;
}
.firstrow-user {
  width: 30px;
  height: 30px;
}
.firstrow-cart {
  width: 30px;
  height: 30px;
}

.firstrow-cart-box:hover,
.firstrow-user-box:hover {
  cursor: pointer;
}

.firstrow-user-box,
.firstrow-cart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.firstrow-user,
.firstrow-cart {
  font-size: 24px;
}

.firstrow-user-font,
.firstrow-cart-font {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.firstrow-user-font {
  size: 10px;
}

.searchbox {
  width: 358px;
  height: 38px;
  border-width: 0cap;
  background-color: transparent;
}

.firstrow-rigthtop {
  margin-left: 1rem;
}

.searchbox-container {
  display: flex;
  height: 50px;
  align-items: center;
  margin-left: 2rem;
  background-color: rgb(245, 238, 238);
  border-radius: 8px;
  border-color: rgb(161, 155, 155);
}

.header-container2 {
  margin-left: 8rem;
  display: flex;
}

.navigation-container {
  display: flex;
  background-color: #f8f8f8;
  gap: 4.5rem;
  justify-content: center;
  padding: 1.5rem;
}

.navigation-buttons {
  position: relative;
  font-size: large;
}

.navigation-buttons:hover {
  color: #f60;
  font-weight: bolder;
  cursor: pointer;
}

.navigation-buttons:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -19px; /* Alt çizginin yerini ayarla */
  width: 100%;
  height: 3px; /* Alt çizginin kalınlığını ayarla */
  background-color: #f60; /* Alt çizginin rengini ayarla */
}

.firstrow-rigthtop-cursor:hover {
  cursor: pointer;
}

.banner-container {
  width: 74rem;
  height: 8rem;
  margin-top: 1rem;
  margin-left: 23rem;
  position: relative;
  border-radius: 10px;
  img {
    width: 74rem;
    height: 8rem;
    border-radius: 10px;
  }
  .banner-buttons {
    position: absolute;
    display: flex;
    left: 45%;
    bottom: 5%;
    .buttons {
      background-color: grey;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
    .active {
      border-radius: 8px;
      transform: scaleX(1.2);
    }
    .buttons:hover {
      cursor: pointer;
    }
  }
}

.Mainpageads-container {
  margin-top: 1rem;
  margin-left: 23rem;
  width: 74rem;
  height: 293px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.Mainpageads-image {
  width: 74rem;
  height: 293px;
  border-radius: 16px;
}

.Mainpageads-image-2 {
  width: 585px;
  height: 297px;
  border-radius: 16px;
}

.swiper-container {
  width: 74rem;
  margin-left: 23rem;
}

.swiper-element {
  width: 124px;
  height: 158px;
  max-width: 124px;
  max-height: 158px;
  padding: 0;
  border: none;
  box-sizing: border-box; /* Box modelini kapsayıcıya göre ayarla */
  margin-top: 1rem;

  img {
    width: 100%; /* Kapsayıcı genişliğine uyum sağlar */
    height: 100%; /* Kapsayıcı yüksekliğine uyum sağlar */
    object-fit: contain; /* Resmi oranları koruyarak sığdırır */
    border-radius: 8px;
  }
}

.swiper-element-like {
  width: 210px;
  height: 326px;
  max-width: 210px;
  max-height: 326px;
  padding: 0;
  border: none;
  box-sizing: border-box; /* Box modelini kapsayıcıya göre ayarla */
  margin-top: 1rem;

  img {
    width: 100%; /* Kapsayıcı genişliğine uyum sağlar */
    height: 100%; /* Kapsayıcı yüksekliğine uyum sağlar */
    object-fit: contain; /* Resmi oranları koruyarak sığdırır */
    border-radius: 8px;
  }
}

.begenilenler {
  margin-left: 23rem;
  font-weight: normal;
}

.Mainpageads-image-3 {
  width: 357px;
  height: 194px;
  border-radius: 10px;
}

.margin1 {
  height: 194px;
}

.footer_top {
  width: 1110px;
  height: 803px;
  margin-left: 23rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.musteri_hizmetleri {
}

.underline {
  width: 195px;
  background-color: rgba(48, 47, 47, 0.13);
  height: 0.5px;
}

.underline2{
  width: 417px;
}

.musteri_hizmetleri-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    color: rgb(100, 100, 100);
  }
}

.follow_us {
  background-color: aqua;
}

.third {
  background-color: #f60;
}
